[Unit]
Description=DisplayInfo
After=network.target unifi.service

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/display-info
ExecStart=/usr/bin/python3 /home/pi/display-info/main.py
ExecStop=/usr/bin/python3 /home/pi/display-info/main.py --clean

[Install]
WantedBy=multi-user.target
